/* set font family for all elements */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Root element adhere to DRY method */
:root {
    --mint-text: rgb(55, 168, 102);
    --gray-tag: rgb(57, 53, 65);
}

/* set font sizes for these header sizes (necessary from css reset) */
h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

html {
    min-width: 100%;
}

body {
    min-width: 100%;
}

/* Element selector for header */

header {
    text-align: start;
    width: 100%;
    height: 100px;
    background-color: rgb(55, 168, 102);
    position: fixed;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

/* header h1 (title) selector */

header h1 {
    background-color: rgb(57, 53, 65);
    padding: 10px 5px 10px 70px;
    color: var(--mint-text);
}

/* Nav bar selectors */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--gray-tag);
    padding: 10px 35px 10px .25px;
    font-size: 20px;
}


nav a {
    padding: 10px;
    color: var(--mint-text);
}

nav a:hover {
    background-size: 99% 77%;
    color: white;
}

a:link {
    text-decoration: none;
}

/* about me id selectors */

#about-me {
    display: flex;
    justify-content: space-between;
    padding: 110px 0px 10px;
    background-color: rgba(100, 233, 153, 0.788);
    color: var(--gray-tag);
    border: 20px;
}

#about-me h2 {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px 5px 10px 70px;
    white-space: nowrap;
    height: 60px;
    background-color: var(--gray-tag);
    color: var(--mint-text);
}

#about-me img {
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    box-shadow: 0px 0px 5px 5px rgba(38, 9, 70, 0.308);
    margin-right: 1%;
    background-size: cover;
    background-position: center center;
    width: 10%;
    height: 10%;
}

#about-me p {
    width: 100%;
    color: var(--gray-tag);
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

/* 'Projects' section class and id selectors */

#projects {
    background-color: rgba(38, 110, 67, 0.788);
    padding: 10px 0 0 0;
    width: 100%;
}

#projects h2 {
    color: var(--mint-text);
    padding: 10px 5px 10px 70px;
    width: 207px;
    background-color: var(--gray-tag);
}

#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
}

#projects h3,
#projects p {
    text-align: center;
    padding: 10px;
    background-color: var(--gray-tag);
    color: var(--mint-text);
    width: 300px;
    margin: auto;
}

#projects p {
    display: flex;
    justify-content: center;

}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-project-card {
    border: 5px solid var(--gray-tag);
    border-radius: 10%;
    max-width: 100%;
    width: 900px;
    height: 700px;
    margin: 10px;
}

.project-card {
    border: 5px solid var(--gray-tag);
    border-radius: 10%;
    max-width: 100%;
    width: 400px;
    height: 340px;
    margin: 10px;
}


/* Adds hover effect to cards (changes border color, size, background color, and text color to inverted) */
.project-card:hover {
    border: 7px solid var(--mint-text);
}

.big-project-card:hover {
    border: 7px solid var(--mint-text);
}

.big-project-card:hover p,
.big-project-card:hover h3 {
    color: var(--gray-tag) !important;
    background-color: var(--mint-text) !important;
}

.project-card:hover p,
.project-card:hover h3 {
    color: var(--gray-tag) !important;
    background-color: var(--mint-text) !important;
}

/* Portfolio images */

.movie-recommender {
    background-image: url(../images/movie-recommender-ss.jpg);
    background-size: cover;
    background-position: top right;
}


.challenge-1 {
    background-image: url(../images/horiseon-website.png);
    background-size: cover;
    background-position: center center;
}

.prework-study-guide {
    background-image: url(../images/jsheen98.github.io_prework-study-guide_.png);
    background-size: 100%;
}

.password-generator {
    background-image: url(../images/password-generator-screenshot.png);
    background-size: 135%;
    background-position: center center;
}

.musinion {
    background-image: url(../images/musinion.herokuapp.com_.png);
    background-size: cover;
    background-position: top left;
}

.code-quiz {
    background-image: url(../images/code-quiz-portfolio.png);
    background-size: cover;
    background-position: top center;
}

/* Brand Logos */

.github {
    background-image: url(../images/github.png);
    background-color: rgba(18, 51, 31, 0.788);
}

.twitter {
    background-image: url(../images/twitter.png);
}

/* Contact section id and element selectors */

#contact {
    padding: 10px 0 30px 0;
    background-color: rgba(18, 51, 31, 0.788);
}

address {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

address a {
    color: var(--mint-text);
    padding: 40px;
    font-size: 25px;
}

address a:hover {
    background-size: 99% 77%;
    color: white;
}

#contact h2 {
    padding: 10px 5px 10px 70px;
    width: 250px;
    background-color: var(--gray-tag);
    color: var(--mint-text);
}

/* Footer element selector */

footer {
    background-color: rgba(18, 51, 31, 0.788);
    color: var(--gray-tag);
}

/* Media queries */

@media screen and (max-width: 1795px) {
    #projects-container {
        justify-content: center;

    }

    .card-column-2 {
        flex-direction: row;

    }

}

@media screen and (max-width: 1367px) {
    .card-column {
        flex-direction: row;
    }
}

@media screen and (max-width: 875px) {
    #about-me img {
        width: 20%;
        height: 20%;
        align-items: center;
    }

    .card-column,
    .card-column-2 {
        flex-direction: column;
    }

}

@media screen and (max-width: 796px) {
    header h1 {
        font-size: 30px;
    }

    header nav a {
        font-size: 15px;
    }


}

@media screen and (max-width: 590px) {

    header {
        flex-direction: column;
    }

    header h1 {
        background-color: var(--mint-text);
        color: var(--gray-tag);
        padding: 10px 0 0 0;
    }

    header nav {
        background-color: var(--mint-text);
        padding: 10px 0;
    }

    header nav a {
        color: var(--gray-tag);
        font-weight: bold;
        padding: 0 20px 10px 20px;
    }

    #about-me {
        display: flex;
        flex-direction: column;
    }

    #about-me img {

        align-self: center;
    }

    #about-me h2 {
        justify-content: center;
        padding: 0;
    }

    #projects h2 {
        width: auto;
        text-align: center;
        padding: 15px 0;
    }

    #contact h2 {
        width: auto;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 446px) {
    .project-card {
        width: 330px;
        height: 240px;
    }

    .big-project-card {
        height: 330px;
    }

}