*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

header {
    text-align: start;
    width: 100%;
    height: 100px;
    background-color: rgb(55, 168, 102);
    position: fixed;
    color: rgb(73, 68, 68);
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    background-color: rgb(57, 53, 65);
    padding: 10px 5px 10px 70px;
    color: rgb(55, 168, 102);
    
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(57, 53, 65);
    padding: 10px 35px 10px .25px;
    font-size: 20px;
}

nav a {
    padding: 10px;
    color: rgb(55, 168, 102);
}

a:link { 
    text-decoration: none; 
}


#about-me {
    display: flex;
    justify-content: space-between;
    padding: 120px 0px 20px;
    background-color: rgba(100, 233, 153, 0.788);
    color: rgb(73, 68, 68);
    border: 20px;
}

#about-me h2 {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px 5px 10px 70px;
    white-space: nowrap;
    background-color: rgb(57, 53, 65);
    color: rgba(100, 233, 153, 0.788);
}

#about-me img {
    border-radius: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#about-me p {
    width: 100%;
    color: rgb(57, 53, 65);
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

#projects {
    padding: 10px;
}

#projects h2 {
    padding: 10px;
}

#projects-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

#projects h3, p {
    text-align: center;
    padding: 10px;
}

#projects p {
    text-decoration: underline;
}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-project-card {
    border: 1px solid green;
    border-radius: 5%;
    width: 900px;
    height: 700px;
    margin: 10px;
}


.project-card {
    border: 1px solid blue;
    border-radius: 5%;
    width: 400px;
    height: 340px;
    margin: 10px;
}





